exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(RColorBrewer)
import(ggrepel)
import(dplyr)
import(R.utils)
import(bit64)
import(fgsea)
importFrom("grDevices", "dev.off", "pdf")
importFrom("stats", "aggregate", "median", "na.omit")
importFrom("utils", "read.delim", "write.table")
